<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/todo.css" />
    <link rel="stylesheet" href="css/tree.css" />
    <script src="js/vue.js"></script>
    <script defer src="js/todo.js"></script>
    <title>Dev ToDo</title>
  </head>
  <body id="app">
    <header>
      <h1>Dev ToDo</h1>
      <h4>
        Позволяет создать вам инструкцию по вашему проекту и отправить коллегам!
      </h4>
    </header>
    <div class="d-flex">
      <!-- БОКОВОЕ МЕНЮ -->
      <aside class="mr-3">
        <h1>Поиск</h1>
        <!-- ПОИСК ПО ЭЛЕМЕНТАМ -->
        <div>
          <input type="search" placeholder="Поиск по элементам" disabled />
        </div>
        <!-- Доступные этапы -->
        <h1>Доступный этапы</h1>
        <ul>
          <li>Публикация</li>
          <li>Возможные ошибки</li>
          <li>Рефакторинг</li>
        </ul>
        <!-- {{ newStage }} -->
        <input type="text" v-model="newStage" placeholder="Добавьте этап" />
        <button @click="steps.push(newStage)">+</button>
      </aside>
      <!-- Конетент -->
      <main>
        <h2>Древо разработки</h2>
        <div>
          <button disabled>Сохранить</button>
          <button disabled>Экспортировать</button>
          <button disabled>Поделиться</button>
          <button disabled>Рейтинг</button>
          <button disabled>Редактировать</button>
        </div>
        <!-- СПИСОК  -->
        <div>
          <!-- Dynamic Tree -->
          <script type="text/x-template" id="item-template">

            <li>
              <div
                :class="{bold: isFolder}"
                @click="toggle"
                @dblclick="makeFolder"
              >
                <input type="text" v-model="item.name">
                <span v-if="isFolder">[{{ isOpen ? '-' : '+' }}]</span>
              </div>
              <ul v-show="isOpen" v-if="isFolder">
                <tree-item
                  class="item"
                  v-for="(child, index) in item.children"
                  :key="index"
                  :item="child"
                  @make-folder="$emit('make-folder', $event)"
                  @add-item="$emit('add-item', $event)"
                ></tree-item>
                <li class="add" @click="$emit('add-item', item)">+</li>
              </ul>
            </li>
          </script>

          <!-- the demo root element -->
          <ul id="demo">
            <tree-item
              class="item"
              :item="treeData"
              @make-folder="makeFolder"
              @add-item="addItem"
            ></tree-item>
          </ul>
        </div>
      </main>
    </div>
  </body>
</html>
